body {
	background-color: #fff;
}

.mdl-layout__header--transparent {
	background: url('../assets/austeezy.jpg') center / cover;
	height: 500px;
	overflow: hidden;
}

.banner .mdl-layout__header,
.banner .mdl-layout__drawer-button {
	/* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
	color: white;
}

.mdl-navigation__linkicon {
	font-size: 40px;
	margin: 20px;
	text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.99);
}

.mdl-navigation__link.icon {
	color: red;
	font-size: 40px;
	text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.99);

}

.mainlogo {
	margin-left: 60px;
	width: 23%;
}

.mdl-layout__content h3 {
	font-family: ruthie, sans-serif;
	font-size: 60px;
	font-weight: 500;
	color: yellow;
	text-align: center;
	text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7);
}

.mdl-layout__drawer {
	background-image: url(../assets/mainlogo.jpg);
}
.mdl-grid .mdl-cell--8-col {
	border-bottom: 2px solid black;
	margin-bottom: 50px;
}
.mdl-grid .mdl-cell--8-col h4 {
	text-align: center;
	text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
	font-family: ruthie, sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: yellow;
}

.mdl-grid .mdl-cell--8-col p {
	font-family: averia-serif-libre, serif;
	font-size: 15px;
	padding-bottom: 30px;
	text-align: center;
	letter-spacing: .1em;
}
